html{
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    /* padding: 0 0px; */
}

/*The widths are in a percentage!*/
header {
	display:flex;
	justify-content: center;
	flex-flow: column;
	/* border-bottom: 3px solid #77a466; */
	margin: 0 auto;
}

header h1 {
	font-size: 2.2em;
	max-width: 100%;
	margin: 0;
	padding: 10px 0;
	border-bottom: 3px solid #77a466;

}
header h1 span {
	color: #77a466;
}

header nav {
	margin-top: 10px;
	max-width: 100%;
	padding: 10px 0;
	
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;	
	font-weight: 700;
	font-size: 0.875em;
	padding: 5px 10px;
	display: block;
	text-align: center;
}
header nav ul li a{
	
	text-decoration: none;
	color:#77a466;
	font-size: 1.5em;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
}
.bottom-section {
	border-top: 3px solid #eee;
	text-align: center;

}

.main-image img {
	width: 100%;
	margin-top: 20px;
}

.main-title {
	/* display: flex; */
	/* justify-content: center; */
}
.main-title h3 {
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	font-size: 1em;
	line-height: 1.562em;
}

.section-one,
.section-two,
.section-three {
	display: flex;
	justify-content: center;
	/* align-items: flex-start; */
	flex-flow: column wrap;
	width: 100%;
	height: auto;
	text-align: left;
}

.section-one,
.section-two {
	align-items: flex-start;
}
.section-three {
	align-items: center;
}

.section-one h4 {
	padding: 18px 0;
}
.section-two h4,
.section-three h4 {
	padding: 10px 0px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 1.312em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}
@media all and (min-width: 768px){

	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
		max-width: 1200px;
		width: 90%;
		margin: 0 auto;
	}

	header h1 {
		font-size: 1.5em;
		max-width: 100%;
		/* margin-right: 100px; */
		padding: 10px 0;
	
		/* border-bottom: 3px solid #77a466; */
	}
	header {
		display:flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
		/* border-bottom: 3px solid #77a466; */
		margin: 0 auto;
	}
	header nav {
		margin-top: 10px;
		max-width: 100%;
		padding: 10px 0;
		/* flex-basis: 40%; */
		/* border: 1px solid black; */
	}


	header nav ul li {
		text-transform: uppercase;	
		font-weight: 700;
		font-size: 0.875em;
		padding: 5px 10px;
		display: inline;
		/* text-align: center; */
	}
	header nav ul li a{
	
		text-decoration: none;
		color:#77a466;
		font-size: 1.125em;
	}

	.bottom-section {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;

	}
	.section-one{
		text-align: left;
		width: 30%;

	}
	.section-two {
		text-align: left;
		width: 30%;

	}
	.section-three {
		text-align: left;
		width: 30%;
		
	}

}
@media all and (min-width: 1200px){
	.bottom-section {

	}
	.section-one{

	}
	.section-two {

	}
	.section-three {
		
	}
}

